:root{
  --primary-color: #C70039;

}
.heading{
  font-size: 4rem;

}

.text-900{
  font-weight: 900;
}
.text-main{
  color: var(--primary-color);
}
.btn-main{
  border:none;
  outline:none;
  padding:15px;
  border-radius: 15px;
  font-size: 1.2rem;
  color:white;
  background-color: var(--primary-color);
  min-width: 150px;
  height:fit-content;
}
.btn-main-light{
  border:none;
  outline:none;
  padding:15px;
  border-radius: 15px;
  font-size:1.2rem;
  color:white;
  background-color: #ffffff40;
  min-width: 150px;
  height:fit-content;
}

@media(max-width:600px){
  .hero-btn{
    min-width: 100% !important;
  }
}